<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MyConn"
             connectionString="Data Source=LAPTOP-Q0DPP8QD\THAOSQL;Initial Catalog=QuanLyDaoTao;Integrated Security=True;TrustServerCertificate=True"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>